body, g {
  font-family: 'Open Sans', sans-serif;
}

.axis .domain {
  display: none;
}

g.axis {
  font-size: 14px;
}

g rect:hover {
  opacity: 0.6;
}

#bar-chart, #heat-map {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

#heat-map {
  padding-bottom: 80px;
  padding-top: 40px;
  padding-left: 40px;
}
